In [40]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import math

In [29]:
data = pd.read_csv('mushrooms.csv')

In [30]:
data

     class cap-shape cap-surface  ... spore-print-color population habitat
0        p         x           s  ...                 k          s       u
1        e         x           s  ...                 n          n       g
2        e         b           s  ...                 n          n       m
3        p         x           y  ...                 k          s       u
4        e         x           s  ...                 n          a       g
...    ...       ...         ...  ...               ...        ...     ...
8119     e         k           s  ...                 b          c       l
8120     e         x           s  ...                 b          v       l
8121     e         f           s  ...                 b          c       l
8122     p         k           y  ...                 w          v       l
8123     e         x           s  ...                 o          c       l

[8124 rows x 23 columns]

In [31]:
# Assigning int value to char
for i in data.columns:
  for j in range(len(data)):
    data[i][j] = ord(data[i][j])

In [42]:
# Normalizing the data (Min-Max Normalization)
data_max = np.amax(data, axis=0)
data_min = np.amin(data, axis=0)

# veil-type has only one value
# Preventing hinderance to min-max normalization
data_min['veil-type'] = 0

norm_data = (data - data_min) / (data_max - data_min)
norm_data

     class cap-shape cap-surface  ... spore-print-color population   habitat
0        1         1    0.684211  ...          0.391304       0.75  0.894737
1        0         1    0.684211  ...          0.521739   0.541667  0.157895
2        0         0    0.684211  ...          0.521739   0.541667  0.473684
3        1         1           1  ...          0.391304       0.75  0.894737
4        0         1    0.684211  ...          0.521739          0  0.157895
...    ...       ...         ...  ...               ...        ...       ...
8119     0  0.409091    0.684211  ...                 0  0.0833333  0.421053
8120     0         1    0.684211  ...                 0      0.875  0.421053
8121     0  0.181818    0.684211  ...                 0  0.0833333  0.421053
8122     1  0.409091           1  ...          0.913043      0.875  0.421053
8123     0         1    0.684211  ...          0.565217  0.0833333  0.421053

[8124 rows x 23 columns]

In [58]:
# Shuffling the dataset
train = norm_data.sample(frac=0.8).reset_index(drop=True)
dev = norm_data.sample(frac=0.1).reset_index(drop=True)
test = norm_data.sample(frac=0.1).reset_index(drop=True)

In [57]:
# For splitting target vector from feature frame
def split_target(df):
  train_df = pd.DataFrame()
  target_df = pd.DataFrame()
  for i in df.columns:
    if i == 'class':
      target_df = df[i]
    else:
      train_df = train_df.append(test[i])
  train_df = pd.DataFrame.transpose(train_df)
  return train_df, target_df

In [59]:
# Splitting for all train, test and dev sets
x_train, y_train = split_target(train)
x_dev, y_dev = split_target(dev)
x_test, y_test = split_target(test)

In [64]:
# Feature selection